*{
  text-align: left;

}
#header{

    background: linear-gradient(
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.70)
    ), url("stack.jpg") no-repeat center center fixed;
}
.logo{
  color: #fff;
  min-width: 200px;
  min-height: 130px;
  margin-top: 20%;
  background: rgba(198,108,29,0.71);
background: -moz-linear-gradient(left, rgba(198,108,29,0.71) 0%, rgba(198,108,29,0.31) 0%, rgba(198,108,29,0.31) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(198,108,29,0.71)), color-stop(0%, rgba(198,108,29,0.31)), color-stop(100%, rgba(198,108,29,0.31)));
background: -webkit-linear-gradient(left, rgba(198,108,29,0.71) 0%, rgba(198,108,29,0.31) 0%, rgba(198,108,29,0.31) 100%);
background: -o-linear-gradient(left, rgba(198,108,29,0.71) 0%, rgba(198,108,29,0.31) 0%, rgba(198,108,29,0.31) 100%);
background: -ms-linear-gradient(left, rgba(198,108,29,0.71) 0%, rgba(198,108,29,0.31) 0%, rgba(198,108,29,0.31) 100%);
background: linear-gradient(to right, rgba(198,108,29,0.71) 0%, rgba(198,108,29,0.31) 0%, rgba(198,108,29,0.31) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c66c1d', endColorstr='#c66c1d', GradientType=1 );
}
.logo button{
  border-radius: 20px;

 color : #894400 !important;
}
.logo input{
  border-radius: 20px;

}
.logo div{
  margin-top: 8%;
}
#who-we{
  background-color: #EDEDED;
  text-align: center !important;
}
#who-we h2 {
  color : #894400;
 text-align: center !important;
}
#who-we h5{
  text-align: center !important;
}
#who-we h6{
  text-align: center !important;
}
#who-we img {

}
.thumbnail {
  border: 2px solid #894400 !important;

}
.navbar-default {
  background-color: #894400;
  border-color: #894400;
}
.navbar-default .navbar-brand {
  color :#fff;
}
.navbar-default .navbar-brand:hover{
  color :#333;
}
.navbar-default .navbar-nav>li>a {
  color :#fff;
}
#section {
  min-height: 900px;
  background-color: #EDEDED;
  text-align: left !important;
}
#section .container {
  margin-top: 3%;

}
#section .row {
  margin-top: 5%;
  text-align: left !important;

}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #894400;
    margin: 2em 0;
    padding: 0;
}
#reserve {
  margin-top: 5%;
  /*min-height: 900px !important;*/
}
.but{
  background-color: #894400;
  border-color:  #894400;
}
.but:hover{
  background-color: #894400;
  border-color:  #894400;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #894400;
  border-color:  #894400;
}
.pagination>li>a, .pagination>li>a, .pagination>li>span, .pagination>li>span{
  color: #333;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
  color: #333;
}
.wrapper p{

     word-wrap: break-word;
}
